.banner{
    float: left;
    width: 100%;

}
.banner img{
    float: left;
    width: 100%;
}
.main{
    float: left;
    width: 100%;
}
.left{
    float: left;
    width: 20%;
    margin: 10% 0% 0% 10%;
}
.left img{
    float: left;
    width: 100%;
}
.right{
    float: right;
    width: 50%;
    margin: 5% 1% 0% 0%;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 600;
    font-size: 30px;
}
.right img{
    float: left;
    width: 100%;
}
.right h1{
    font-size: 30px;
}    
.college{
    float: left;
    width: 100%;
    margin: 3% 0% 3% 0%;
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-size: 30px;

}
.college img{
    float: left;
    width: 20%;
    height: 200px;
}